/*
 * Colors:
 * prussian blue: #0b3954
 * purple taupe: #52414c
 * pastel red: #ff6663
 * eerie black: #0d1321
 * steel teal: #558c8c
 */

.main-tab *.tab-label {
    -fx-rotate: 90.0;
}
.main-tab *.tab {
    -fx-padding: 4.0em 1.0em 4.0em 1.0em;
}
.main-tab:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-color: transparent;
}
.text-field.error {
  -fx-text-box-border: #ff6663 ;
  -fx-focus-color: #ff6663 ;
}

.newsContentItem {
	-fx-background-color: white ;
}

.network-grid {
	-fx-padding: 16.0px;
}

.topicOverview > .title {
	-fx-font-size: 4em;
	-fx-background-color: #0b3954;
	-fx-text-fill: #ff6663;
	-fx-padding: 16;
}
.topicOverview > .description {
	-fx-font-size: 0.9em;
	-fx-text-fill: rgb(120.0, 120.0, 120.0)
}

.card .border {
	-fx-border-color: rgb(200,200,200);
	-fx-border-width: 1;
	-fx-effect: dropshadow(three-pass-box, #0d1321, 10, 0, 4, 4);
}
.card .card-body {
	-fx-background-insets: 1;
	-fx-background-color: white;
}
.card .card-header {
	-fx-padding: 4 4 0 4;
}
.card .card-content {
	-fx-padding: 8;
}
.card .title {
	-fx-font-size: 1.1em;
}
.card .description {
	-fx-font-size: 0.9em;
	-fx-text-fill: rgb(120.0, 120.0, 120.0)
}

.citation {
	-fx-font-size: 1.4em;
}

.tweet-card .handle {
	-fx-font-size: 0.9em;
	-fx-text-fill: rgb(120.0, 120.0, 120.0)
}
.tweet-card .name {
	-fx-font-size: 1.1em;
	-fx-font-weight: bold;
}