// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin thewarofwordstheme {
  @include valo;

  .banner {
    background: no-repeat url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/20101024_Panoramic_Image_of_Athens_from_Areopagus_hill_Greece.jpg/900px-20101024_Panoramic_Image_of_Athens_from_Areopagus_hill_Greece.jpg");
    background-size: cover;
  }
  
  .card-outer {
    background: #FFF;
    display: inline-block;
    border-radius: 3px;
    height: 266px;
    position: relative;
    padding: 0;
    margin: 0;
  }
 
  .card {
     padding: 0;
     margin: 0;
   }
 
  .card-outer .card {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
  }
 
  .card-preview {
    background-color: #F9F9FA;
    position: relative;
    height: 200px;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    width: 100%;
  }
 
  .card-preview-image {
    height: 100%;
    width: 100%;
  }
 
  .card-text {
     padding-top: 8px;
     padding-bottom: 8px;
   }
}
